.md {
  font-family: "Spectral";
  font-size: 17px;

  & * {
    appearance: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    -webkit-appearance: optimizelegibility;
    -moz-appearance: optimizelegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Inter";
    margin-bottom: 0.625em;
    line-height: 1.16em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.625em;
    font-weight: 700;
    color: rgb(var(--lf-black));
  }

  h3 {
    font-size: 1.375em;
  }
  h4 {
    font-size: 1.125em;
  }
  h5 {
    font-size: 0.83em;
  }

  p {
    text-align: justify;
    color: rgb(var(--lf-black));

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ol {
    margin-bottom: 1em;

    color: rgb(var(--lf-black));
    list-style: decimal;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 1em;

    list-style: disc;
    color: rgb(var(--lf-black));

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  li {
    margin-top: 8px;
    margin-left: 32px;
    padding-left: 4px;

    color: rgb(var(--lf-black));
    text-align: justify;

    p {
      margin-bottom: 0;
    }
  }

  blockquote {
    padding: 1em 10px 0.1em;
    border-left: 10px solid #ccc;
    background: #f9f9f9;
    /* quotes: "\201C""\201D""\2018""\2019"; */
  }

  @media (min-width: 1024px) {
    font-size: 19px;
  }
}
