.md {
  h2 {
    &:not(:first-child) {
      margin-top: 1rem;
    }

    color: rgb(156 163 175);
    font-size: 24px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  ol {
    list-style: decimal;
    padding-left: 1.2rem;
  }

  li {
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 1em 10px 0.1em;
    /* quotes: "\201C""\201D""\2018""\2019"; */
  }
}
