@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "Spectral";
  src:
    url("/fonts/spectral/spectral-regular.woff") format("woff"),
    url("/fonts/spectral/spectral-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Spectral";
  src:
    url("/fonts/spectral/spectral-italic.woff") format("woff"),
    url("/fonts/spectral/spectral-italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src:
    url("/fonts/spectral/spectral-bold.woff") format("woff"),
    url("/fonts/spectral/spectral-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Spectral";
  src:
    url("/fonts/spectral/spectral-bold-italic.woff") format("woff"),
    url("/fonts/spectral/spectral-bold-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}

:root {
  font-family: "Inter", sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.title {
  font-size: 56px;
  font-family: "Inter";
  line-height: 1.2;
  font-weight: 600;

  @media (min-width: 1024px) {
    font-size: 128px;
  }
}

.subtitle {
  font-size: 20px;

  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

h1,
.h1 {
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 500;
}
