---
interface Props {
  direction?: "ltr" | "rtl";
  alignment?: "start" | "center" | "end";
}
const { direction, alignment } = Astro.props;
---

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";
  import type { AlignmentOptionType } from "node_modules/embla-carousel/components/Alignment";
  import type { AxisDirectionOptionType } from "node_modules/embla-carousel/components/Axis";

  const emblaList = Array.from(
    document.querySelectorAll(".embla"),
  ) as HTMLElement[];

  const defaultOptions = {
    loop: true,
  };

  emblaList.forEach((embla) => {
    const direction = (embla.dataset.carouselDirection ||
      "ltr") as AxisDirectionOptionType;
    const alignment = (embla.dataset.carouselAlignment ||
      "center") as AlignmentOptionType;

    const options = { ...defaultOptions, direction, align: alignment };

    const emblaApi = EmblaCarousel(embla, options, [AutoScroll()]);
  });
</script>

<div
  class="embla mb-5"
  data-carousel-direction={direction}
  data-carousel-alignment={alignment}
  dir={direction === "rtl" ? "rtl" : undefined}
>
  <div class:list={["embla__container", { "text-end": direction === "rtl" }]}>
    <slot />
  </div>
</div>

<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
</style>
