---
interface Props {
  direction?: "forward" | "backward";
}

const { direction } = Astro.props;
---

<script>
  import EmblaCarousel from "embla-carousel";
  import AutoScroll from "embla-carousel-auto-scroll";

  const emblaList = Array.from(
    document.querySelectorAll(".embla"),
  ) as HTMLElement[];

  const defaultOptions = {
    loop: true,
  };

  emblaList.forEach((embla) => {
    const direction = (embla.dataset.carouselDirection || "forward") as
      | "forward"
      | "backward";

    const options = { ...defaultOptions };

    const emblaApi = EmblaCarousel(embla, options, [
      AutoScroll({
        direction: direction,
        stopOnInteraction: false,
      }),
    ]);
  });
</script>

<div class="embla mb-5" data-carousel-direction={direction}>
  <div class="embla__container">
    <slot />
  </div>
</div>

<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
</style>
