---
import InstaLogo from "public/svg/instagram.svg";
import XLogo from "public/svg/X.svg";

const today = new Date();
---

<footer class="my-10">
  <div class="container mx-auto max-w-screen-lg px-5">
    <div class="flex flex-col gap-4 lg:flex-row lg:justify-between">
      <div class="max-w-sm">
        <p class="mb-4 font-bold">Logicnama.com</p>
        <p class="mb-4 capitalize">
          This Website Was Produced By <a
            href="https://github.com/gurpreet-fe"
            class="underline hover:underline-offset-4 lowercase"
            target="_blank">gurpreet-fe</a
          > & based off the "Vichaar Vidiya" section of Bunga Azaadi’s Vichaar Repository.
        </p>
        <p>
          View More Vichaars on Sikhi, Statecraft & More at <a
            class="font-bold"
            href="https://www.bungaazaadi.com"
          >
            www.BungaAzaadi.com
          </a>
        </p>
      </div>
      <div class="flex flex-col gap-1 h-min">
        <div class="font-bold mb-2">Follow us</div>
        <a
          href="https://www.instagram.com/bunga_azaadi/"
          target="_blank"
        >
          Instagram
        </a>
        <a
          href="https://azadism.substack.com/"
          target="_blank"
        >
          Substack
        </a>
        <a
          href="https://linktr.ee/azadism"
          target="_blank"
        >
          Linktree
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  a {
    color: rgb(var(--lf-black));

    &:hover {
      color: rgb(var(--lf-grey));
    }
  }

  .social-icon {
    /* --text-gray-400 */
    color: rgb(156 163 175);
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
</style>
