---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <div><a href="/">{SITE_TITLE}</a></div>

    <div class="internal-links">
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    height: 65px;
    border-bottom: 1px solid #e1e1e1;
	padding: 20px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
