---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import GoogleTag from "@/components/GoogleTag.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const fallacies = await getCollection("fallacy");

type Props = CollectionEntry<"fallacy">["data"];

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description="" />
    <style>
      aside {
        border-right: 1px solid #e1e1e1;
        padding: 0 20px;
        display: none;

        @media (min-width: 1024px) {
          display: block;
          flex: 0 0 auto;
          overflow: auto;
          padding: 0 40px 10px 0;
        }
      }

      li + li {
        margin-top: 10px;
      }

      article {
        @media (min-width: 1024px) {
          padding: 0 0 0 20px;
        }
      }
    </style>
  </head>
  <GoogleTag />
  <body>
    <Header />

    <main>
      <h1 class="title text-center my-20">{title}</h1>

      <section class="my-20">
        <div class="container lg:max-w-screen-lg px-4 mx-auto">
          <div class="flex">
            <aside>
              <ul>
                {
                  fallacies.map((fallacy) => (
                    <li>
                      <a
                        class={`${fallacy.data.title === title ? "" : "text-lf-grey"} hover:text-lf-black`}
                        href={`/fallacies/${fallacy.id}`}
                      >
                        {fallacy.data.title}
                      </a>
                    </li>
                  ))
                }
                <li class="pt-10">More coming soon...</li>
              </ul>
            </aside>

            <article class="md relative">
              <slot />
            </article>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
